#ctaticket {
	max-width: 86.15385vw;
	margin: 0px auto 4vw;
	padding-top: 1vw;
}

#ctaticket a {
	position: relative;
	display: inline-flex;
	align-items: center;
	height: 3em;
	padding: 0px 1.5em;
	color: #fff !important;
	background: #E95532;
	border-radius: 1.5em;
	transition: background 400ms;
}

#ctaticket a:hover {
	background: rgba(233, 85, 50, 0.8);
}

#ctaticket a > span:before {
	content: "";
	display: inline-block;
	position: relative;
	top: -0.1em;
	width: 2.2222em;
	max-width: 40px;
	height: 30px;
	margin-right: 0.5em;
	vertical-align: middle;
	background: url(./ctaticketicon.svg) no-repeat center center;
	background-size: 100% auto;
}

#ctaticket a br {
	display: none;
}

@media screen and (max-width: 750px) {

	#ctaticket {
		max-width: calc(100% - 20px);
		margin-bottom: 10vw;
	}

	#ctaticket a {
		padding-left: 3.5em;
		line-height: 1.3;
	}

	#ctaticket a > span:before {
		position: absolute;
		left: 2em;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	#ctaticket a br {
		display: block;
	}

	#ctaticket a span span {
		display: block;
	}

	#ctaticket + .top-main-area .top-main-ttl {
		margin-top: 0px;
	}

}

.voicelabel {
	width: 0;
	height: 0;
	overflow: hidden;
	opacity: 0;
}

#sb_instagram {
	max-width: 1200px;
}

.global-nav-list li {
	margin: 0 1.4vw;
}

.searchbox {
	position: relative;
	width: 10vw;
}

.searchbox-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-right: 2vw;
	font-size: 1.5vw;
	border: none;
	border-bottom: solid 3px #000;
}

.searchbox-text:focus {
	outline: none;
}

.searchbox-button {
	position: absolute;
	top: 0.25vw;
	right: 0;
	width: 1.5vw;
	background: none;
	cursor: pointer;
	transition: all 0.3s;
	z-index: 10;
}

.searchbox-button:hover {
	opacity: 0.3;
}

.searchbox-button img {
	width: 100%;
}

.search-result {
	padding: 3.14685vw 0 0;
}

@media only screen and (max-width: 750px) {
	.global-nav-list li {
		margin: 0 3.56783vw;
	}

	.searchbox {
		width: 100%;
		height: 60px;
		background: #fff;
	}

	.searchbox-text {
		height: 60px;
		padding-right: 45px;
		font-size: 30px;
	}

	.searchbox-button {
		top: 14px;
		right: 10px;
		width: 30px;
	}
}
.caravantoparea {
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
	box-sizing: border-box;
}
.caravantoparea * {
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
	box-sizing: border-box;
}
.caravantoparea > div {
	padding: 45px 0px 60px;
}
.caravantoparea .map {
	width: 40vw;
	max-width: 615px;
	height: auto;
	margin: auto;
}
@media screen and (max-width: 750px) {
	.caravantoparea .map {
		width: 60%;
	}
}
.caravantoparea .map div {
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	background: none no-repeat center center;
	background-size: cover;
	transform: translateY(-50%);
}
@media screen and (max-width: 750px) {
	.caravantoparea .map div {
		position: static;
		transform: translateY(0);
	}
}
.caravantoparea .list {
	position: relative;
	margin: 20px 20px 0px;
}
.caravantoparea .list > * {
	position: relative;
	display: flex;
	min-height: 8.342em;
	text-decoration: none;
	border-bottom: 8px solid #000;
}
@media screen and (max-width: 750px) {
	.caravantoparea .list > * {
		flex-direction: column;
		min-height: 0px;
	}
}
.caravantoparea .list > * + * {
	margin-top: 30px;
}
.caravantoparea .list > * + *:before {
	content: "";
	display: block;
	position: absolute;
	top: -22px;
	left: 50%;
	margin-left: -18px;
	border: 18px solid transparent;
	border-top: 16px solid #000;
	border-bottom: 0px;
}
.caravantoparea .list .city {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 17.46987951807229%;
	color: #fff;
	font-weight: bold;
	text-align: center;
	background: #000;
}
@media screen and (max-width: 750px) {
	.caravantoparea .list .city {
		width: 100%;
	}
}
.caravantoparea .list .type-yellow .city {
	background: #FFF000;
}
.caravantoparea .list .type-blue-lt .city {
	background: #83CAC7;
}
.caravantoparea .list .type-red .city {
	background: #E95532;
}
.caravantoparea .list .type-brown .city {
	background: #AF8B7B;
}
.caravantoparea .list .type-purple .city {
	background: #E75297;
}
.caravantoparea .list .body {
	display: flex;
	width: 100%;
	background: rgba(255, 255, 255, 0.9);
}
.caravantoparea .list .body.after {
	background: rgba(77, 77, 77, 0.9);
}
@media screen and (max-width: 750px) {
	.caravantoparea .list .body {
		flex-direction: column;
	}
}
.caravantoparea .list .soon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 10px 20px;
	font-weight: bold;
}
@media screen and (max-width: 750px) {
	.caravantoparea .list .soon {
		width: auto;
		height: 100px;
	}
}
.caravantoparea .list .city + .body .soon {
	padding-right: 21.16759142147585%;
}
@media screen and (max-width: 750px) {
	.caravantoparea .list .city + .body .soon {
		padding-right: 0;
	}
}
.caravantoparea .list .info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px 20px;
}
.caravantoparea .list .info .date {
	font-weight: bold;
}
.caravantoparea .list * + .lead {
	margin-top: 20px;
}
.caravantoparea .list .lead + * {
	margin-top: 20px;
}
.caravantoparea .list .button {
	align-self: center;
	flex-shrink: 0;
	width: 22.62773722627737%;
	margin: auto 10px auto auto;
	padding: 12px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	border-top: 4px solid #000;
	background: #000;
}
@media screen and (max-width: 750px) {
	.caravantoparea .list .button {
		width: auto;
		min-width: 150px;
		margin: 10px auto;
		padding: 4px 8px;
	}
}
.caravantoparea .list .type-yellow .button {
	background: #FFF000;
}
.caravantoparea .list .type-blue-lt .button {
	background: #83CAC7;
}
.caravantoparea .list .type-red .button {
	background: #E95532;
}
.caravantoparea .list .type-brown .button {
	background: #AF8B7B;
}
.caravantoparea .list .type-purple .button {
	background: #E75297;
}
.caravantoparea .list .image {
	margin-top: 10px;
}
.caravantoparea .list .image ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px;
}
.caravantoparea .list .image li {
	width: 146px;
	max-width: calc((100% - 40px) / 3);
}

.global-footer .footer-sns-link-new {
	margin-top: 0;
}

.footer-sns-link-new {
	margin-top: 8vw;
	margin-bottom: 8vw;
}
@media screen and (max-width: 750px) {
	.footer-sns-link-new {
		margin-bottom: 60px;
	}
}
.footer-sns-link-new h2 {
	margin: 0px auto 30px;
	line-height: 1.55;
	font-weight: bold;
	font-size: 2.7972vw;
	letter-spacing: .02098vw;
	text-align: center;
}

@media screen and (max-width: 750px) {
	.footer-sns-link-new h2 {
		font-size: 7.46667vw;
	}
}
.footer-sns-link-new h2 svg {
	width: 100%;
	height: auto;
}
.footer-sns-link-new .snsbox {
	display: flex;
	max-width: 1036px;
	min-height: 550px;
	margin: auto;
	padding: 0px 20px;
}
@media screen and (max-width: 750px) {
	.footer-sns-link-new .snsbox {
		display: block;
	}
}
.footer-sns-link-new .snsbox > * {
	width: 50%;
	border: 4px solid #000;
}
@media screen and (max-width: 750px) {
	.footer-sns-link-new .snsbox > * {
		width: 100%;
	}
}
.footer-sns-link-new .snsbox > * + * {
	border-left: 0px;
}
@media screen and (max-width: 750px) {
	.footer-sns-link-new .snsbox > * + * {
		border-top: 0px;
		border-left: 4px solid #000;
	}
}
.footer-sns-link-new .snsbox .twitter {
	position: relative;
	padding: 20px;
}
@media screen and (max-width: 750px) {
	.footer-sns-link-new .snsbox .twitter {
		width: calc(100% - 40px);
		height: 500px;
	}
}
.footer-sns-link-new .snsbox .twitter:before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 1px;
	top: 20px;
	left: 0px;
	background: #fff;
}
.footer-sns-link-new .snsbox .twitter:after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 1px;
	bottom: 20px;
	left: 0px;
	background: #fff;
}
.footer-sns-link-new .snsbox .twitter .twitter-timeline {
	height: 100% ;
}
.footer-sns-link-new .snsbox .twitter iframe {
	height: 100% !important;
}
.footer-sns-link-new .snslist ul {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}
.footer-sns-link-new .snslist li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc((100% - 4px) / 2);
}
@media screen and (max-width: 750px) {
	.footer-sns-link-new .snslist li {
		width: calc((100% - 8px) / 3);
		border-right: 4px solid #000;
		border-bottom: 4px solid #000;
	}
	.footer-sns-link-new .snslist li:nth-child(3n+3) {
		border-right: 0px !important;
	}
	.footer-sns-link-new .snslist li:nth-last-child(-n+3) {
		border-bottom: 0px !important;
	}
}
.footer-sns-link-new .snslist li:nth-child(odd) {
	border-right: 4px solid #000;
}
.footer-sns-link-new .snslist li:nth-last-child(n+3) {
	border-bottom: 4px solid #000;
}
.footer-sns-link-new .snslist a {
	padding: 20px;
	width: 64px;
	height: 64px;
}
@media screen and (max-width: 750px) {
	.footer-sns-link-new .snslist a {
		width: 48px;
		height: 48px;
	}
}

.top-highlites-area {
	padding: 80px 2.0979vw;
}
.top-highlites-area h2 {
	max-width: 79.13vw;
	margin: 0px auto 40px;
}
@media screen and (max-width: 750px) {
	.top-highlites-area h2 {
		max-width: 90vw;
		margin-bottom: 20px;
	}
}
.top-highlites-area h2 svg {
	width: 100%;
	height: auto;
}
.top-highlites-area > div {
	display: flex;
	justify-content: center;
}
@media screen and (max-width: 750px) {
	.top-highlites-area > div {
		display: block;
	}
}
.top-highlites-area > div > * {
	display: flex;
	flex-direction: column;
	max-width: calc((100% - 40px) / 3);
}
@media screen and (max-width: 750px) {
	.top-highlites-area > div > * {
		max-width: 100%;
	}
}
.top-highlites-area > div > * + * {
	margin-left: 20px;
}
@media screen and (max-width: 750px) {
	.top-highlites-area > div > * + * {
		margin-top: 20px;
		margin-left: 0px;
	}
}
.top-highlites-area .pgtop-main-date {
	left: 1.46853vw;
	bottom: 1.18881vw;
	right: auto;
	text-shadow: 0 0 0.41958vw rgba(0, 0, 0, 0.3);
}
.top-highlites-area a:hover .pgtop-main-date {
	color: #fff !important;
}
.top-highlites-area .info {
	height: 100%;
	margin-top: 10px;
	padding: 20px;
	color: #fff;
	background: #000;
}

.imgandtext-list .list-elm + .list-elm {
	margin-top: 3.30508%;
}
@media screen and (max-width: 750px) {
	.imgandtext-list .list-elm + .list-elm {
		margin-top: 9.33333vw;
	}
}
.imgandtext-list .img-cell {
	width: 40%;
}
@media screen and (max-width: 750px) {
	.imgandtext-list .img-cell {
		width: auto;
	}
}
.imgandtext-list .img-cell + .text-cell {
	padding-left: 3.7037%;
}
@media screen and (max-width: 750px) {
	.imgandtext-list .img-cell + .text-cell {
		padding-left: 0;
		margin-top: 4vw;
	}
}
.imgandtext-list .list-elm.reverse {
	direction: rtl;
}
.imgandtext-list .list-elm.reverse .img-cell + .text-cell {
	padding-left: 0%;
	padding-right: 3.7037%;
}
@media screen and (max-width: 750px) {
	.imgandtext-list .list-elm.reverse .img-cell + .text-cell {
		padding-left: 0;
	}
}
.imgandtext-list .list-elm.reverse .img-cell,
.imgandtext-list .list-elm.reverse .text-cell {
	direction: ltr;
}

.cardlist-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -20px;
	margin-right: -5px;
	margin-top: -20px;
}
.cardlist-list .list-elm {
	box-sizing: border-box;
	width: calc((100% - 65px) / 3);
	margin-top: 20px;
	margin-left: 20px;
}
@media screen and (max-width: 750px) {
	.cardlist-list .list-elm {
		width: calc(100% - 25px);
	}
}
.cardlist-list .list-elm > * {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #eee;
	transition: background-color 0.5s ease-out;
}
.cardlist-list .list-elm > a {
	color: #000;
	text-decoration: none;
}
.cardlist-list .list-elm > a:hover {
	background-color: transparent;
}
.cardlist-list .list-elm div.thumb {
	position: relative;
	height: 0px;
	padding-top: 60%;
	overflow: hidden;
}
.cardlist-list .list-elm div.thumb img {
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	height: 100%;
	object-fit: cover;
}
.cardlist-list .list-elm .info {
	padding: 20px;
}
.cardlist-list .list-elm .catch {
	color: #E95532;
	font-size: 130%;
	font-weight: bold;
}
@media screen and (max-width: 750px) {
	.cardlist-list .list-elm .catch {
		font-size: 110%;
	}
}
.cardlist-list .list-elm .catch + .sumally {
	margin-top: 10px;
}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	-webkit-transform: translate3d(0, 0, 0);
}

#cboxWrapper {
	max-width: none;
}

#cboxOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
	clear: left;
}

#cboxContent {
	position: relative;
}

#cboxLoadedContent {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#cboxTitle {
	margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
	cursor: pointer;
}

.cboxPhoto {
	float: left;
	margin: auto;
	border: 0;
	display: block;
	max-width: none;
	-ms-interpolation-mode: bicubic;
}

.cboxIframe {
	width: 100%;
	height: 100%;
	display: block;
	border: 0;
	padding: 0;
	margin: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
	background: #333;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

#colorbox {
	outline: 0;
}

#cboxContent {
	background: #fff;
}

.cboxIframe {
	background: #000000;
}

#cboxError {
	padding: 50px;
	border: 1px solid #ccc;
}

#cboxLoadedContent {
	border: 0px solid #000;
	background: #fff;
}

#cboxTitle {
	position: absolute;
	top: -20px;
	left: 0;
	color: #ccc;
}

#cboxCurrent {
	position: absolute;
	top: -10px;
	left: 50%;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	-webkit-transform: translate(-50%, -100%);
	transform: translate(-50%, -100%);
	-webkit-transition: 400ms;
	transition: 400ms;
	opacity: 0;
}
#cboxCurrent.view {
	opacity: 1;
}

#cboxLoadingGraphic {
	background: url(./../img/common/loading.gif) no-repeat center center;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
	border: 0;
	padding: 0;
	margin: 0;
	overflow: visible;
	width: auto;
	background: none;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
	outline: 0;
}

#cboxSlideshow {
	position: absolute;
	top: -20px;
	right: 90px;
	color: #fff;
}

#cboxClose {
	position: absolute;
	display: block;
	top: -20px;
	right: -20px;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	background: #000;
	border-radius: 50%;
	-webkit-transition: 400ms;
	transition: 400ms;
	opacity: 0;
	z-index: 10;
}
#cboxClose:hover {
	opacity: 0.7;
}
#cboxClose.view {
	opacity: 1;
}
#cboxClose:before {
	content: "";
	position: absolute;
	display: block;
	width: 20px;
	height: 2px;
	top: 19px;
	left: 10px;
	background: #ffffff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
#cboxClose:after {
	content: "";
	position: absolute;
	display: block;
	width: 2px;
	height: 20px;
	top: 10px;
	left: 19px;
	background: #ffffff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
